@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    background-color: white;
    background-image: url(../img/background.png);
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
}

#main {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(145, 145, 145, 0.6);
}

#main form {
    width: 400px;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-size: x-large;
}

#main form input {
    margin-bottom: 20px;
    margin-top: 5px;
    border-width: 2px;
}

#main h2 {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main form select {
    margin-bottom: 20px;
    margin-top: 5px;
    border-width: 2px;
    max-width: 150px;
}

