body {
  margin: 0;
  font-family: "Yanone Kaffeesatz";
  background-color: white;
  background-image: url(../img/background.png);
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: dimgrey;
  display: flex;
  font-size: x-large;
}

#headDiv {
  margin: auto;
}

footer {
  width: 100%;
  background-color: dimgrey;
  display: flex;
  font-size: x-large;
  margin-top: 20px;
  height: 100px
}

nav {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: auto;
}

nav a {
  margin: auto;
  padding: 1em;
  color: #000000;
  background: #919191;
  width: 100%;
  text-align: center;
}

nav a:hover {
  background: #575757
}

.maincontentdivs {
  background-color: dimgrey;
  max-width: 100%;

  margin-top: 20px;
  height: fit-content;
}

main h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  margin: auto;
}

#mainLinks {
  font-size: x-large;
}

#mainForm {
  font-size: x-large;
}

#mainTable {
  font-size: x-large;
  padding-bottom: 15px;
}

#mainLinks ol {
  padding-bottom: 15px;
  margin: auto;
}

footer a{
  outline: none;
  text-decoration: none;
  color: black;
}

ol li a{
  outline: none;
  text-decoration: none;
}

.maincontentdivs table {
  margin: auto;
  border: 5px solid #424242;
  border-collapse: collapse;
}
.maincontentdivs table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 3px solid #424242;
}
.maincontentdivs table td {
  border: 3px solid #424242;
  padding: 5px;
}

#mainForm form {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #575757;
  height: fit-content;
  width: fit-content;
}

#mainForm form textarea {
  resize: none;
  padding:15px;
  border-radius:15px;
  border:0;
}

#mainForm form select {
  outline: none;
  padding: 5px;
  overflow-y: auto;
  max-width: 100%;
}

.group {
  margin: auto;
  padding: 5px;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
}

.limb {
  margin-left: -5px;
  margin-right: 10px;
}

.sex {
  margin-left: -5px;
  margin-right: 5px;
}

select {
  margin-bottom: 20px;
  margin-top: 5px;
}


#button {
  margin: auto;
  margin-top: 10px;
  color: #616161;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}

#button:hover {
  background: rgba(255,255,255,.2);
}

#button:active {
  background: white;
}

@media only screen and (min-width: 609px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  nav a {
    padding: 1em;
  }

  .maincontentdivs {
    max-width: 960px;
    margin: auto;
    margin-top: 20px;
  }
}

